<div class="hero bg-base-200 min-h-[calc(100vh-4rem)]">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img
      src="./public/pfp.jpg"
      class="max-w-lg rounded-full shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">
        Hi! I'm 
        <span class="bg-gradient-to-r from-teal to-lavender bg-clip-text text-transparent">Tabbyistrans! :3</span>
      </h1>
      <p class="mr-6 my-6">
        I'm a transfem software developer, homelab & linux enthusiast, and gamer!
      </p>
      <a href="/contact" class="btn btn-primary">Contact me!</a>
    </div>
  </div>
</div>
