---
---
<div class="navbar mocha bg-mantle">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-lg bg-gradient-to-r from-teal to-lavender bg-clip-text text-transparent">tabbyistrans</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
